In [2]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:

arquivos_csv = [arquivo for arquivo in os.listdir() if arquivo.endswith('.csv')]

dados_clubes = pd.DataFrame()

for arquivo in arquivos_csv:
    dados = pd.read_csv(arquivo)
    dados = dados.dropna()

    df_grouped = dados.drop(columns=["Player"]).groupby(["Club", "Team"]).sum().reset_index()

    df_grouped.rename(columns={col: col + "_Pro" for col in ["G", "A", "RC", "YC", "Crn", "S", "SOnT", "BS", "P", "C", "Tk", "O", "FC", "FW"]}, inplace=True)

    df_grouped_against = df_grouped.copy()

    for col in ["G", "A", "RC", "YC", "Crn", "S", "SOnT", "BS", "P", "C", "Tk", "O", "FC", "FW"]:
        df_grouped_against[col + "_Against"] = df_grouped[col + "_Pro"].sum() - df_grouped[col + "_Pro"]

    columns_order = ["Club", "Team"] + [col + "_Pro" for col in ["G", "A", "RC", "YC", "Crn", "S", "SOnT", "BS", "P", "C", "Tk", "O", "FC", "FW"]] + [col + "_Against" for col in ["G", "A", "RC", "YC", "Crn", "S", "SOnT", "BS", "P", "C", "Tk", "O", "FC", "FW"]]
    df_grouped_against = df_grouped_against[columns_order]

    dados_clubes = pd.concat([dados_clubes, df_grouped_against], ignore_index=True)

dados_clubes.reset_index(drop=True, inplace=True)

dados_clubes

,Club,Team,G_Pro,A_Pro,RC_Pro,YC_Pro,Crn_Pro,S_Pro,SOnT_Pro,BS_Pro,...,Crn_Against,S_Against,SOnT_Against,BS_Against,P_Against,C_Against,Tk_Against,O_Against,FC_Against,FW_Against
0,Crystal Palace FC,0.0,0,0,0,3,8,11,1,3,...,5,8,6,0,423,8,5,0,5,7
1,Newcastle United FC,1.0,3,2,0,1,5,8,6,0,...,8,11,1,3,262,11,16,1,11,5
2,Liverpool FC,0.0,1,1,0,1,9,19,2,9,...,2,7,2,2,274,10,19,2,11,10
3,Nottingham Forest FC,1.0,0,0,0,3,2,7,2,2,...,9,19,2,9,620,19,19,1,8,9
4,AFC Bournemouth,1.0,0,0,0,1,7,8,1,6,...,5,14,7,4,519,16,30,0,12,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Liverpool FC,1.0,3,1,0,0,5,15,10,2,...,8,15,3,3,324,17,13,2,12,16
656,Brentford FC,0.0,0,0,0,1,3,9,4,2,...,3,9,4,1,297,10,12,1,14,12
657,Sheffield United FC,1.0,1,1,0,4,3,9,4,1,...,3,9,4,2,384,20,19,1,13,13
658,Sheffield United FC,0.0,1,1,1,4,1,6,5,1,...,13,23,9,8,583,24,16,2,11,11
659,Tottenham Hotspur FC,1.0,2,1,0,4,13,23,9,8,...,1,6,5,1,182,5,18,3,9,7

In [3]:
arquivos_csv = [arquivo for arquivo in os.listdir() if arquivo.endswith('.csv')]

dados_concatenados = pd.DataFrame()

for arquivo in arquivos_csv:

    dados = pd.read_csv(arquivo)
    
    dados_concatenados = pd.concat([dados_concatenados, dados], ignore_index=True)

dados_concatenados.drop(columns=['Unnamed: 0'], inplace=True)

dados_concatenados = dados_concatenados.dropna()

dados_concatenados.reset_index(drop=True, inplace=True)

dados_concatenados

,Player,G,A,RC,YC,Crn,S,SOnT,BS,P,C,Tk,O,FC,FW,Team,Club
0,S. Longstaff,1,0,0,1,0,2,1,0,46,1,0,0,0,3,1.0,Newcastle United FC
1,D. Burn,0,0,0,0,0,0,0,0,49,0,3,0,0,0,1.0,Newcastle United FC
2,J. Murphy,1,2,0,0,3,2,2,0,35,5,0,0,0,1,1.0,Newcastle United FC
3,A. Gordon,1,0,0,0,0,2,1,0,26,0,0,0,0,1,1.0,Newcastle United FC
4,J. Lascelles,0,0,0,0,0,0,0,0,95,0,0,0,3,0,1.0,Newcastle United FC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331,A. Ahmedhodžić,0,0,0,0,0,0,0,0,22,0,3,0,2,0,0.0,Sheffield United FC
8332,O. McBurnie,0,0,1,2,0,2,1,1,34,0,2,1,3,3,0.0,Sheffield United FC
8333,C. Archer,0,0,0,1,0,0,0,0,21,0,1,1,1,1,0.0,Sheffield United FC
8334,O. Norwood,0,0,0,0,0,1,1,0,7,0,4,0,0,0,0.0,Sheffield United FC
8335,A. Trusty,0,0,0,0,0,0,0,0,2,0,1,0,0,0,0.0,Sheffield United FC

In [7]:
estatisticas_crn_por_time = dados_concatenados.groupby('Team')['Crn'].describe()
print(estatisticas_crn_por_time)

estatisticas_crn_por_clube = dados_concatenados.groupby('Club')['Crn'].describe()
print(estatisticas_crn_por_clube)

       count      mean       std  min  25%  50%  75%  max
Team
0.0   4182.0  0.333333  0.665430  0.0  0.0  0.0  0.0  5.0
1.0   4154.0  0.438373  0.791954  0.0  0.0  0.0  1.0  7.0
                            count      mean       std  min  25%  50%  75%  max
Club
AFC Bournemouth             468.0  0.425214  0.760906  0.0  0.0  0.0  1.0  5.0
Arsenal FC                  484.0  0.485537  0.849916  0.0  0.0  0.0  1.0  7.0
Aston Villa FC              458.0  0.449782  0.790182  0.0  0.0  0.0  1.0  4.0
Brentford FC                468.0  0.316239  0.633127  0.0  0.0  0.0  0.0  4.0
Brighton & Hove Albion FC   384.0  0.335938  0.692489  0.0  0.0  0.0  0.0  4.0
Burnley FC                  383.0  0.373368  0.674145  0.0  0.0  0.0  1.0  3.0
Chelsea FC                  367.0  0.397820  0.705014  0.0  0.0  0.0  1.0  4.0
Crystal Palace FC           390.0  0.374359  0.715857  0.0  0.0  0.0  1.0  5.0
Everton FC                  410.0  0.339024  0.652015  0.0  0.0  0.0  1.0  4.0
Fulham FC                   476.0  0.407563  0.774505  0.0  0.0  0.0  1.0  5.0
Liverpool FC                470.0  0.495745  0.814961  0.0  0.0  0.0  1.0  4.0
Luton Town FC               376.0  0.345745  0.630456  0.0  0.0  0.0  1.0  3.0
Manchester City FC          406.0  0.559113  0.942915  0.0  0.0  0.0  1.0  5.0
Manchester United FC        406.0  0.426108  0.818435  0.0  0.0  0.0  1.0  5.0
Newcastle United FC         345.0  0.353623  0.733061  0.0  0.0  0.0  1.0  7.0
Nottingham Forest FC        418.0  0.284689  0.569239  0.0  0.0  0.0  0.0  3.0
Sheffield United FC         383.0  0.276762  0.557348  0.0  0.0  0.0  0.0  3.0
Tottenham Hotspur FC        425.0  0.428235  0.809818  0.0  0.0  0.0  1.0  7.0
West Ham United FC          419.0  0.319809  0.636125  0.0  0.0  0.0  0.0  4.0
Wolverhampton Wanderers FC  400.0  0.260000  0.639078  0.0  0.0  0.0  0.0  4.0